body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
    background-color: rgb(47, 47, 47);
    padding: 10px;
    color: gold;
    font-weight: bolder;
}
.main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: rgb(236, 236, 236);
    padding: 20px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    background: rgb(236, 236, 236);
}
.pen, .background {
    display: flex;
    align-items: center;
    gap: 20px;
}
input[type = "color"] {
    width: 50px;
    height: 50px;
    border: none;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button {
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
}
#randomize {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, purple);
    color: white;
}
#eraser {
    background: linear-gradient(45deg, white, black);
}
#reset {
    background: white;

}
.grid {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.container {
    display: flex;
    flex: 1;
    justify-content: center;
    /* padding: 50px; */
}
.draw-board {
    width: 580px;
    height: 580px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.grid-square {
    border: 0.5px solid black;
    box-sizing: border-box;
    background-color: white;
}
contacts {
    display: flex;
    background-color: rgb(47, 47, 47);
    padding: 10px;
    color: gold;
    flex-direction: column;
}
contacts p {
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gold;
}
p {
    font-weight: bolder;
    font-size: 18px;
}
footer {
    text-align: center;
    background-color: rgb(47, 47, 47);
    padding: 10px;
    color: gold;
}
